.box {
    height: 100px;
    width: 100px;
    margin: 3px;
}

#box1 {
    background-color: red;
    text-align: left;
    text-transform: capitalize;
}

#box2 {
    background-color: green;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: brown;
}

#box3 {
    background-color: blue;
    text-align: right;
}

a{
    text-decoration: none;
}

#first {
    line-height: 4px;
    font-weight: 700;
}

#second {
    line-height: 30px;
    font-size: 25px;
    font-style: italic;
    font-family:cursive;
}