/* * {
    margin:0; 
    padding: 0;
    font-size: 50px;
} */
/* .box {
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    margin: 2px;
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 15px;
    display: block;
    font-size: 25px;
}

#box2 {
    display: none;
}

#first {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin: 2px;
    font-size: 25px;
}

#second {
    height: 50%;
    width: 75%;
    background-color: aqua;
    font-size: 2em;
    font-size: 2rem;
}

#viewport {
    height: 50vh;
    width: 90vw;
    background-color: greenyellow;
}

div {
    background-color: burlywood;
    height: 50px;
    width:50px;
    border: 2px solid red;
    margin: 3px;
    font-size: 10px;
}

#div1 {
    position: static;
}

#div2 {
    position: relative;
    top: 20px;
    left: 90px;
}

#div3 {
    position: absolute;
    top: 20px;
    left: 90px;
}

#div4 {
    position: fixed;
    top: 160px;
    left: 150px;
} */

.container {
    position: relative;
}

#zindex1, #zindex2 {
    position: absolute;
    border: 2px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 15px;
}

#zindex1 {
    background-color: burlywood;
    top: 20px;
    left:80px;
    z-index: 1;
}

#zindex2 {
    background-color: aqua;
    top: 80px;
    left: 20px;
    z-index: 2;
}